{% extends 'AppFrontEndBundle::layout.html.twig' %}

 {% block title %} <title>Photo Gallery</title> {% endblock %}


{% block content %}
    <div id="registration3" class="popup_block" >
        <form id="RegisterUserForm" role="form" action="{{ path('bundles_login_reg') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_row(form.firstname) }}
            </div>
            <div class="form-group">

                {{ form_row(form.lastname) }}

            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                <p><b>Роль</b></p>
                <select name="status">
                    <option selected value="photo">Фотограф</option>
                    <option value="seller">Покупатель</option>
                </select>
            </div>
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
                {#{{ form_row(form.jabber) }}#}
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
            {# {{ form_rest(form) }} #}

                <input name="lang" type="hidden" value="en"/>
                <button type="submit" class="btn btn-success">Войти</button>

            {{ form_rest(form) }}
        </form>
    </div>
    <div id="fb-root"></div>
    <p><a href="#" onClick="logInWithFacebook()">Facebook registration</a></p>
    <script>
        var pathfilter="{{ path('bundles_login_fbuserinfo') }}";
        logInWithFacebook = function() {
            FB.login(function(response) {
                if (response.authResponse) {
                    console.log('You are logged in & cookie set!');
                    // Now you can redirect the user or do an AJAX request to
                    // a PHP script that grabs the signed request from the cookie.
                    $.ajax({
                        type: "GET",
                        url: pathfilter,
                        success: function(data)
                        {
                           document.getElementById("bundles_storebundle_user2_firstname").value = data.firstname ;
                           document.getElementById("bundles_storebundle_user2_lastname").value = data.lastname ;
                           document.getElementById("bundles_storebundle_user2_email").value = data.email ;
                            document.getElementById("bundles_storebundle_user2_username").value = data.login ;
                        }
                    });

                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
            return false;
        };
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1475718472749501',
                cookie: true, // This is important, it's not enabled by default
                version: 'v2.4'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>
{%endblock %}