{% extends 'AppFrontEndBundle::layout.html.twig' %}

 {% block title %} <title>Photo Gallery</title> {% endblock %}


{% block content %}
    <div id="registration3" class="popup_block" >
        <form id="RegisterUserForm" role="form" action="{{ path('bundles_login_reg') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_row(form.firstname) }}
            </div>
            <div class="form-group">

                {{ form_row(form.lastname) }}

            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                <p><b>Роль</b></p>
                <select name="status">
                    <option selected value="photo">Фотограф</option>
                    <option value="seller">Покупатель</option>
                </select>
            </div>
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
                {#{{ form_row(form.jabber) }}#}
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
            {# {{ form_rest(form) }} #}

                <input name="lang" type="hidden" value="en"/>
                <button type="submit" class="btn btn-success">Войти</button>

            {{ form_rest(form) }}
        </form>
    </div>
    <div id="fb-root"></div>
  <!--  <input type="button" value="Login" onclick="Login();" />
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1475718472749501',
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        (function (doc) {
            var js;
            var id = 'facebook-jssdk';
            var ref = doc.getElementsByTagName('script')[0];
            if (doc.getElementById(id)) {
                return;
            }
            js = doc.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        function Login() {
            FB.login(function (response) {
                if (response.authResponse) {
                    FB.api('/me', function (response) {
                        console.log(response.email);
                    });
                } else {
                    alert("Login attempt failed!");
                }
            }, { scope: 'email,user_photos,publish_actions' });
        }


    </script>-->
{%endblock %}