{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}
        <a class="btn btn-warning" href="{{ path('app_front_end_wellcome') }}">Главная<i class="glyphicon glyphicon-th-large"></i></a>
    {% endblock %}

{% block content %}
    {% if users is defined  %}
        <div class=" col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>City/Country</th>
                                <th>Подробней</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if curUser is defined  %}
                                {% for user in users %}
                                      {% if user.id != curUser.getId %}
                                            <tr>
                                                {% if user.getImg is not empty  %}
                                                    <td><img height="80" width="80" src="{{ user.img }}" class=" img-circle img-responsive"></td>
                                                {% else %}
                                                   <td><img height="80" width="80" src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class=" img-circle img-responsive"></td>
                                                {% endif %}
                                                <td>{{user.getFirstname }}</td>
                                                <td>{{ user.getLastname }}</td>
                                                {% if (user.city is defined) and (user.city|length > 3) %}
                                                    <td>{{user.city}}/{{ user.country}}</td>
                                                {% else %}
                                                    <td>undefine</td>
                                                {% endif %}
                                                <td><a href="{{ path('app_front_end_photograph', {'id' :user.id}) }}">Страница</a></td>
                                            </tr>
                                      {% endif %}
                                  {% endfor %}
                            {% else %}
                                   <td> Для просмотра пройдите регистрацию</td>
                            {% endif %}

        {#{% if curUser is defined  %}
                            {% if user.id != curUser.getId %}
                                {% for user in users %}


                                            <tr>
                                                <td><a href="{{ path('app_front_end_photograph', {'id' :user.id}) }}">Страница</a></td>
                                            </tr>
                                       {% else %}

                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for user in users %}
                                    <tr>

                                        <td><a href="{{ path('app_front_end_photograph', {'id' :user.id}) }}">Страница</a></td>
                                    </tr>
                            {% endfor %}
        #}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
