{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}
       Каталог фотографов
        <p>Главная <strong><a style="color:red" href="{{ path('app_front_end_wellcome') }}">main</a></strong></p>
    {% endblock %}

{% block content %}
    {% if users is defined  %}
        <div class=" col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Логин</th>
                            <th>Подробнее</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if curUser is defined  %}
                            {% for user in users %}

                                   {% if user.id != curUser.getId %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.username }}</td>
                                            <td><a href="{{ path('app_front_end_photograph', {'id' :user.id}) }}">Страница</a></td>
                                        </tr>
                                   {% endif %}

                            {% endfor %}
                        {% else %}
                            {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td><a href="{{ path('app_front_end_photograph', {'id' :user.id}) }}">Страница</a></td>
                                    </tr>
                            {% endfor %}
                        {% endif %}

                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
