
{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}

        <p>Главная <strong><a style="color:red" href="{{ path('app_front_end_wellcome') }}">main</a></strong></p>
        <p>Создать фотосессию <strong><a style="color:green" href="{{ path('app_front_end_fotosess') }}">create</a></strong>->Предложенные фотосессию <strong><a style="color:green" href="{{ path('app_front_end_dpfs') }}">photo</a></strong> </p>
        <p>Редактировать профиль <strong><a style="color:red" href="{{ path('app_front_end_profedit') }}">Edit profile</a></strong></p>
        <p>Добавить юзера <strong><a style="color:red" href="{{ path('app_front_end_addus') }}">add User</a></strong></p>
        <p>Статистика реф <strong><a style="color:red" href="{{ path('app_front_end_stat') }}">Stat ref</a></strong></p>
        <p>Выход <strong><a style="color:red" href="{{ path('bundles_login_security_logout') }}">exit</a></strong></p>

    {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/1.css') }}"/>
    <style>
         div.ajax_loader{background: url("{{ asset('bundles/appfrontend/images/ajax-loader_blue.gif')}}") no-repeat center center transparent;}
    </style>
{% endblock %}

{% block content %}

   {% if app.session.flashbag.get('notice')  is defined  %}
     {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success" role="alert">
          {{ flashMessage }}
      </div>
      {% endfor %}
  {% endif %}
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Get ref code</button>
  </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Code</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Link:</label>
                            <input type="text" class="form-control" value="{{ render(controller('AppFrontEndBundle:Page:linkReturn')) }}" id="recipient-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    {% include "AppFrontEndBundle:Elements:userblock.html.twig" %}

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form enctype="multipart/form-data" action="{{ path('app_front_end_svImg') }}" method="post">
                    <input id="file-0a" name="file[]" class="file" type="file" multiple>
                    <!--  multiple data-min-file-count="1"-->
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
    </div>

{% if orders is defined  %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path('app_front_end_approveOrder') }}" method="post" >
                <h3>Заказы</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата</th>
                            <th>UserID</th>
                            <th>Картинка</th>
                            <th>Выбрать</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {% for ord in order %}
                                {% if ord.status == "panding" %}
                                <tr>
                                    <td>{{ord.id}}</td>
                                    <td>{{ord.date| date}}</td>
                                    <td><a href="{{path('app_front_end_seller', {'id' : ord.getUser2.id})}}">{{ ord.getUser2.id}}</td>
                                    <td><a href="{{ asset(ord.getPhoto.adress) }}"><img  height="42" width="42" src="{{ asset(ord.getPhoto.adress) }}"></a></td>
                                    <td><input name="checkbox[]" type="checkbox" value="{{ord.id}}" /></td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}


                    </table>
                <button type="submit" name="button" value="approved" class="btn btn-primary">Подтвердить</button>
                <button type="submit" name="button" value="cansel" class="btn btn-default">Удалить</button>
                </form>
            </div>
        </div>
    </div>

{% endif %}



{% if pagination is defined  %}
    <div class=" col-md-8">

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Картинки</h3>
                <ul class="information-list">
                    <li class="title-string">
                        <div class="table-string">
                            <div class="table-column" style="width:5%">ID</div>
                            <div class="table-column" style="width:45%">Дата</div>
                            <div class="table-column" style="width:20%">Изображение</div>
                            <div class="table-column" style="width:20%">Доступ</div>
                            <div class="table-column" style="width:10%">Удалить</div>
                        </div>
                    </li>
                    {% for article in pagination %}
                    <li class="box-4">
                        <div class="table-string">
                            <div class="table-column style="width:5%"">{{ article.id }}</div>
                            <div class="table-column" style="width:45%">{{ article.date | date }}</div>
                            <div class="table-column" style="width:20%"><div class="img-wrap" href="{{ asset(article.adress) }}"><img src="{{ asset(article.adress) }}"></div></div>
                            <div class="table-column" style="width:20%">
                                <select id="access_ph" name="{{ article.id}}">
                                    {% if(article.access=="public") %}
                                        <option selected >{{article.access}}</option>
                                        <option>private</option>
                                    {% else %}
                                        <option selected >{{article.access}}</option>
                                        <option>public</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="table-column" style="width:10%;text-align:center;"><input type="hidden" name="ItemId" id="ItemId" value="{{ article.id }}" /> <a href="{{ path('app_front_end_delImg', {'id' : article.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block jscript %}
    {{ parent() }}
    <script>
        var pathajax="{{ path('app_front_end_ajax') }}";
    </script>
    <script src="{{ asset('bundles/appfrontend/js/modal.js') }}"></script>
{% endblock %}

