
{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}

        <a class="btn btn-warning" href="{{ path('app_front_end_wellcome') }}">Главная<i class="glyphicon glyphicon-th-large"></i></a>


    {% endblock %}


{% block content %}

    <!--/panel-->
    <div class="col-md-6">
           <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src="{{ asset(photo.adress) | imagine_filter('my_thumb') }}" alt="" class="center-block img-circle img-responsive">
                        <ul class="list-inline ratings text-center" title="Ratings">
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                        </ul>
                    </div><!--/col-->
                    <div class="col-xs-12 col-sm-8">

                           <a href="{{ asset(photo.adress) | imagine_filter('my_water')}} ">  <img  src="{{ asset(photo.adress)  | imagine_filter('my_thumb')}}"></a>



                    </div><!--/col-->
                </div><!--/row-->
            </div><!--/panel-body-->
        </div><!--/panel-->
    </div>
     <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path('app_front_end_getOrder') }}" method="post">
                    <br>
                    <button type="submit" class="btn btn-primary">Заказать</button>
                    <input type="hidden" name="photo" value="{{photo.id}}">
                    <input type="hidden" name="user" value="{{user.getEmail}}">
                </form>
            </div>
        </div>
    </div>

{% endblock %}