{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}
        <a class="btn btn-warning" href="{{ path('app_front_end_wellcome') }}">Главная<i class="glyphicon glyphicon-th-large"></i></a>
    {% endblock %}


{% block content %}

    {%  set runtimeConfig = {"watermark": {"position": user.config, image: "Resources/data/draft.png",  size: "0.5"} } %}

    {% include "AppFrontEndBundle:Elements:userblock.html.twig" %}

    {% if photo is defined  %}
        <div class=" col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form action="{{ path('app_front_end_orderimg') }}" method="post">
                         <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Дата</th>
                                <th>Заказать Изображение</th>
                                <th>Выбрать</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for photo in photo %}
                              {% if photo.access=="public" %}
                                  <tr>
                                     <td>{{photo.id }}</td>
                                     <td>{{ photo.date  |date }}</td>
                                     <td><img  height="80" width="80" src="{{ asset(photo.adress)| imagine_filter('watermark_photo',runtimeConfig ) }}"></td>
                                     <td><input  name="images[]" type="checkbox" value="{{ photo.id }}"></td>
                                  </tr>
                              {% endif %}
                            {% endfor %}
                            </tbody>

                        </table>
                        <input type="hidden" name="userId" value="{{user.getId}}">
                        <div align="center" ><button type="submit" name="button" value="approved" class="btn btn-lg btn-success">Заказать</button></div>
                    </form>
                </div>
            </div>
        </div>


    {% endif %}

{% endblock %}

 {% block jscript %}

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/appfrontend/js/modal.js') }}"></script>
{% endblock %}