{% extends "AppFrontEndBundle::layout.html.twig" %}

{% block login %}
    <a class="btn btn-warning" href="{{ path('app_front_end_wellcome') }}">Главная<i class="glyphicon glyphicon-th-large"></i></a>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/1.css') }}"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <form action="{{ path('app_front_end_search') }}" method="post">
            <div class="main">
                <div class="form-group layout-box">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="search[firstname]" class="form-control" autocomplete="off" placeholder="Search for...">
                    <div id="results">
                    </div>
                </div><!-- /input-group -->
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="search[lastname]" class="form-control" placeholder="Search for...">
                </div><!-- /input-group -->
                <div class="form-group">
                    <label for="check">Advantage Search</label>
                    <input class="advsearch" type="checkbox" value="Advantage Search" id="check">
                </div>
                <div class="advantage">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" name="search[login]" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="search[city]" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" name="search[country]" class="form-control" placeholder="Search for...">
                    </div><!-- /input-group -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>



        </form>
    </div><!-- /.col-lg-6 -->

    {% if users is defined  %}
        <div class=" col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Логин</th>
                            <th>Подробнее</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}

                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td><a href="{{ path('app_front_end_photograph', {'id' : user.id}) }}">Страница</a></td>
                                </tr>



                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block jscript %}
    <script>
        var pathajax="{{ path('app_front_end_ajaxresultFirstname') }}";
    </script>

    <script src="{{ asset('bundles/appfrontend/js/1.js') }}"></script>
{% endblock %}