{% extends "AppFrontEndBundle::layout.html.twig" %}

    {% block login %}
        Фотосессии
        <p>Главная <strong><a style="color:red" href="{{ path('app_front_end_wellcome') }}">main</a></strong></p>


    {% endblock %}


{% block content %}


    <!--/panel-->
    <div class="col-md-6">
        <div class="panel paneldefault">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">

                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                        <p><strong>Skills: </strong>
                            <span class="label label-info tags">html5</span>
                            <span class="label label-info tags">css3</span>
                            <span class="label label-info tags">jquery</span>
                            <span class="label label-info tags">bootstrap3</span>
                        </p>
                    </div><!--/col-->
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                        <ul class="list-inline ratings text-center" title="Ratings">
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                        </ul>
                    </div><!--/col-->

                    <div class="col-xs-12 col-sm-4">
                        <h2><strong> 20,7K </strong></h2>
                        <p><small>Followers</small></p>
                        <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                    </div><!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <h2><strong>245</strong></h2>
                        <p><small>Following</small></p>
                        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                    </div><!--/col-->
                    <div class="col-xs-12 col-sm-4">
                        <h2><strong>43</strong></h2>
                        <p><small>Snippets</small></p>
                        <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                    </div><!--/col-->
                </div><!--/row-->
            </div><!--/panel-body-->
        </div><!--/panel-->
    </div>

    {% if galleries is defined  %}
        {% for  gallery in galleries %}
            <div class=" col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form action="{{ path('app_front_end_orderfs') }}" method="post">
                            <div align="right"> <button type="submit" name="button" value="delete" class="btn btn-xs btn-warning">Удалить</button> </div>
                            <input type="hidden" name="galId" value="{{gallery.id}}">
                            <h3>{{ gallery.name }} </h3>
                            {% set photos = gallery.getPhoto %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Дата</th>
                                        <th>Заказать Изображение</th>
                                        <th>Выбрать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for photo in photos %}
                                        <tr>
                                            <td>{{photo.id }}</td>
                                            <td>{{ photo.date  |date   }}</td>
                                           <!-- <td><a href="{{ path('app_front_end_order', {'id' : photo.id}) }}"><img  height="42" width="42" src="{{ asset(photo.adress)| imagine_filter('my_thumb') }}"></a></td>-->
                                            <td><img  height="80" width="80" src="{{ asset(photo.adress)| imagine_filter('my_water') }}"></td>
                                            <td><input  name="images[]" type="checkbox" value="{{ photo.id }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                         <div align="center" ><button type="submit" name="button" value="approved" class="btn btn-lg btn-success">Заказать</button></div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}


{% block jscript %}

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/appfrontend/js/modal.js') }}"></script>
{% endblock %}